In [1]:
# Adds List Element as value of List. 
List = ['Mathematics', 'chemistry', 1997, 2000] 
List.append(20544) 
print(List)

['Mathematics', 'chemistry', 1997, 2000, 20544]

In [2]:
List = ['Mathematics', 'chemistry', 1997, 2000] 
# Insert at index 2 value 10087 
List.insert(2,10087)      
print(List)

['Mathematics', 'chemistry', 10087, 1997, 2000]

In [3]:
List1 = [1, 2, 3] 
List2 = [2, 3, 4, 5] 
  
# Add List2 to List1 
List1.extend(List2)         
print(List1) 
  
# Add List1 to List2 now 
List2.extend(List1)  
print(List2)

[1, 2, 3, 2, 3, 4, 5]
[2, 3, 4, 5, 1, 2, 3, 2, 3, 4, 5]

In [4]:
# to find the sum of  the elements in list
list=[1,3,5,7,9]
print (sum(list))

25

In [11]:
# Creating a Dictionary  
# with Integer Keys 
Dict = {1: 'akshath', 2: 'athira', 3: 'bhuvi'} 
print("\nDictionary with the use of Integer Keys: ") 
print(Dict) 
  
# Creating a Dictionary  
# with Mixed keys 
Dict = {'Name': 'akshath','marks': [96,95,92]} 
print("\nDictionary with the use of Mixed Keys: ") 
print(Dict)

Dictionary with the use of Integer Keys:
{1: 'akshath', 2: 'athira', 3: 'bhuvi'}

Dictionary with the use of Mixed Keys:
{'Name': 'akshath', 'marks': [96, 95, 92]}

In [12]:
normal_set = set(["a", "b","c"]) 
  
print("Normal Set") 
print(normal_set)

Normal Set
{'b', 'c', 'a'}

In [13]:
fruits={"apple","mango","peach"}
print(fruits,"seasonal fruits")
fruits.add("butterfruit")
print(fruits)

{'peach', 'apple', 'mango'} seasonal fruits
{'peach', 'apple', 'mango', 'butterfruit'}

In [14]:
people = {"Jay", "Idrish", "Archil"} 
vampires = {"Karan", "Arjun"} 
dracula = {"Deepanshu", "Raju"} 
  
# Union using union() 
# function 
population = people.union(vampires) 
  
print("Union using union() function") 
print(population) 
  
# Union using "|" 
# operator 
population = people|dracula 
  
print("\nUnion using '|' operator") 
print(population)

Union using union() function
{'Idrish', 'Archil', 'Karan', 'Jay', 'Arjun'}

Union using '|' operator
{'Idrish', 'Archil', 'Deepanshu', 'Raju', 'Jay'}

In [15]:
# An empty tuple 
empty_tuple = () 
print (empty_tuple)

()

In [16]:
# Code for concatenating 2 tuples 
  
tuple1 = (0, 1, 2, 3) 
tuple2 = ('python', 'geek') 
  
# Concatenating above two 
print(tuple1 + tuple2)

(0, 1, 2, 3, 'python', 'geek')

In [17]:
# code to test slicing 
  
tuple1 = (0 ,1, 2, 3) 
print(tuple1[1:]) 
print(tuple1[::-1]) 
print(tuple1[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

In [19]:
String1 = "grimreaper"
print("Initial String: ") 
print(String1) 
  
# Printing First character 
print("\nFirst character of String is: ") 
print(String1[0]) 
  
# Printing Last character 
print("\nLast character of String is: ") 
print(String1[-1])

Initial String:
grimreaper

First character of String is:
g

Last character of String is:
r

In [20]:
# Python Program to Update 
# entire String 
  
String1 = "Hello, I'm a Goblin"
print("Initial String: ") 
print(String1) 
  
# Updating a String 
String1 = "Welcome to the V World"
print("\nUpdated String: ") 
print(String1)

Initial String:
Hello, I'm a Goblin

Updated String:
Welcome to the V World

In [22]:
String1 = "Hello, I'm a Goblin"
print("Initial String: ") 
print(String1)

Initial String:
Hello, I'm a Goblin